<div class="">
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img [src]="info?.organization.avatar_url" alt="">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <div>
            <strong class="title">{{ info?.name }}</strong>
            <br />
            <p class="subtitle">{{ info?.description }}</p>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <a [routerLink]="info?.full_name">
            <p class="heading">Stars</p>
            <p class="title">{{ info?.stargazers_count|number }}</p>
          </a>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Open Issues</p>
          <p class="title">{{ info?.open_issues_count|number }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Forks</p>
          <p class="title">{{ info?.forks_count|number }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Pull Requests</p>
          <p class="title">{{ info?.pull_requests_count|number }}</p>
        </div>
      </div>
    </nav>
  </div>
</div>
