<section class="section">
  <repo [repo]="repoName"></repo>
  <br />
  <div class="columns is-multiline is-mobile">
    <div class="column is-2" *ngFor="let stargazer of stargazers">
      <img [src]="stargazer.avatar_url" alt="" width="100%" height="100%">
    </div>
    <span slot="no-results" *ngIf="!stargazers">
      <h1 class="title is-3">No results</h1>
    </span>
    <span slot="no-more"></span>
  </div>
</section>
