<section class="section">
  <h1 class="title is-1">Frontend War Room</h1>
  <h2 class="subtitle is-3">Here you can find your allies and enemies.</h2>
  <div class="columns is-multiline is-tablet">
    <div class="column is-12-tablet">
      <h1 class="title is-2">Allies</h1>
    </div>
    <repo [repo]="'angular/angular'" class="column is-12-tablet"></repo>
    <div class="column is-12-tablet">
      <h1 class="title is-2">Enemies</h1>
    </div>
    <repo [repo]="'facebook/react'" class="column is-6-tablet"></repo>
    <repo [repo]="'vuejs/vue'" class="column is-6-tablet"></repo>
  </div>
</section>
